.text2-container   {

}

.text2-list{
    text-align: left;
   
}

.text2-list li{
    margin-bottom: 1rem;
}

@media screen and (min-width:555px){
    .text2-container   {
           transform: tr;
    }
}