.text2-container   {

}

.text2-list{
    text-align: left;
   
}

.text2-list li{
    margin-bottom: 1rem;
}

@media screen and (min-width:555px){
    .text2-container   {
           transform: translateY(-3rem);
           margin-left: -3rem;
    }

    .text2-container h2{
        width: 40vw;
    }

    .text2-list{
        width: 30vw;
    }
}